@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
  @include addons;

  // Include mytheme theme styles in your theme
  @include mytheme;
}

.gwt-SuggestBoxPopup {
  border: 4px solid #D5E2FF;
}

.gwt-SuggestBoxPopup .item {
  padding: 8px 16px !important;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
